<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>288669334954-35o6b6rquk4t02ergodc7dru9kpj87ot.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.288669334954-35o6b6rquk4t02ergodc7dru9kpj87ot</string>
	<key>API_KEY</key>
	<string>AIzaSyCJtbOtG0QST1rINfq5FGmDlQCb9JFdhxE</string>
	<key>GCM_SENDER_ID</key>
	<string>288669334954</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.disouto.ios</string>
	<key>PROJECT_ID</key>
	<string>di-souto</string>
	<key>STORAGE_BUCKET</key>
	<string>di-souto.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:288669334954:ios:7595799f8cfe33b99a7fd3</string>
	<key>DATABASE_URL</key>
	<string>https://di-souto.firebaseio.com</string>
</dict>
</plist>